// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

:root {
  // Base Font Family
  --base-font-family: 'Inter', sans-serif;

  // Font Weights
  --font-weight-semibold: 600;
  --font-weight-regular: 400;

  // Colors
  --color-primary: #0058F4;
  --color-primary-light: #ADD2FF;
  --color-primary-dark: #000082;
  --color-basic: #FFFFFF;
  --color-alternative: #EBF1FB;
  --color-inverse: #171717;

  --color-primary-on-dark: #FFFFFF;
  --color-primary-on-light: #171717;
  --color-secondary-on-light: #5A616C;

  --color-alert: #E24645;
}

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  // font: var(--mat-sys-body-medium);

  font-family: var(--base-font-family);
  letter-spacing: 0;

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

// Typography
.d_title-h1 {
  font-size: 3.5rem;
  font-weight: var(--font-weight-semibold);
  line-height: 1.2;
}

.d_text-default {
  font-size: 1.125rem;
  font-weight: var(--font-weight-regular);
  line-height: 1.48;
}

.d_text-small {
  font-size: 1rem;
  font-weight: var(--font-weight-regular);
  line-height: 1.48;
}

.d_button {
  font-size: 1rem;
  font-weight: var(--font-weight-semibold);
  line-height: 1.48;
}

// Palette Styles
.primary-background {
  background-color: var(--color-primary);
}

.alternative-style {
  background-color: var(--color-alternative);
  color: var(--color-secondary-on-light);
}

.primary-on-dark {
  color: var(--color-basic);
}

.error {
  color: var(--color-alert);
}

// Border Styles
.lines-on-light {
  border: 1px solid var(--color-inverse);
}
